<footer fxLayout="row wrap" fxLayoutAlign="space-between center">
    <nav class="crumbs">
      <ol fxLayout="row wrap">
          <li class="crumb"><a href="bikes">Terms and Conditions</a></li>
          <li class="crumb"><a href="bikes/bmx">Privacy Policy</a></li>
          <li class="crumb"><a href="">Contact Us</a> </li>
      </ol>
    </nav>
    <div class="follow-us" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <p>Follow Us</p>
      <div class="facebook"></div>
      <div class="twitter"></div>
    </div>
</footer>