<article class="main-ruling" style="background-image: url('assets/images/pope.png')">
  <div class="info">
      <!-- <div class="blur"></div> -->
      <p class="font-size-16px">what is your opinion on </p>
      <p class="font-size-60px">Pop Francis?</p>
      <p class="description">He is talking tough on clery sexual abuse, but is he just another papal pervet protector? (thumbs down) or a true pedophile punishing pontifi? (thumbs up)</p>
      <div class="more-info" fxLayoutAlign="start center">
        <img src="assets/images/wiki.png" alt="">
        <a class="more-info font-size-14px" href="">More information</a>
      </div>
      <p class="veredict font-size-20px">What's your veredict?</p>
      <div fxLayoutAlign="start">
        <div class="thumb-up" fxLayoutAlign="space-around center"><img src="assets/images/thumb_up.png" alt="thumb_up"></div>
        <div class="thumb-down" fxLayoutAlign="space-around center"><img src="assets/images/thumb_down.png" alt="thumb_down"></div>
      </div>
  </div>
  <div class="closing" fxLayoutAlign="start center">
    <div class="closing-text" fxLayoutAlign="end center"><span>Closing in</span></div>
    <div class="closing-days"><span>22 days</span></div>
  </div>
</article>
