<div class="app-register">
    <div *ngIf="!(loading$ | async)" [ngClass]="{ 'alert': true, 'alert-success': (success$ | async), 'alert-danger': (error$ | async) }">{{(message$ | async)}}</div>
  <h2>Register</h2>
  <app-register-form [marriageStatuses]="registerFacadeService.marriageStatuses$ | async"></app-register-form>
  <div class="form-group">
    <button [disabled]="!(formIsValid$ | async)" (click)="onSubmit()" class="btn btn-primary">Register</button>
    <a [routerLink]="['user/login']" class="btn btn-link">Go To Login</a>
  </div>
</div>
